                * {
                    margin: 0;
                    padding: 0px;
                }
                
                body {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 23px;
                    position: absolute;
                    padding: 0;
                    margin: 0;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    background: url("112.png") no-repeat center;
                    background-size: cover;
                    height: 700px;
                }
                
                a {
                    position: relative;
                    margin: 7px;
                    padding: 4px;
                    color: rgb(135, 243, 229);
                    float: right;
                    display: flex;
                }
                
                .navbar-collapse {
                    background-color: rgb(21, 104, 83);
                    height: 50px;
                    position: abs($number: 0);
                }
                
                .logo {
                    color: rgb(109, 236, 236);
                    position: relative;
                    padding: 1%;
                    float: left;
                    margin: 0%;
                    display: flex;
                }
                
                .logo::after {}